#!/bin/sh

. /etc/rc.subr

name=ftpserver
rcvar=ftpserver_enable
load_rc_config $name

ftpserver_flags="/data"
ftpserver_user=nobody
ftpserver_log=/var/log/${name}.log

pidfile=/var/run/${name}.pid
command=python3
standalone="/scripts/${name}.py"

start_cmd=ftpserver_start
stop_postcmd=ftpserver_cleanup

ftpserver_start() {
	touch ${pidfile} ${ftpserver_log}
	chown ${ftpserver_user} ${pidfile} ${ftpserver_log}
	/usr/sbin/daemon -cf -p ${pidfile} -u ${ftpserver_user} -o ${ftpserver_log} ${standalone} ${ftpserver_flags}
}

ftpserver_cleanup() {
	[ -f ${pidfile} ] && rm ${pidfile}
}

run_rc_command "$1"
